<div class="home-container">
  <p class="p-10px">
    The game starts with a user on a trail image.
    The user can use buttons walk to travel through all trail.
    The goal of the game is to reach the end of the trail, which is a rest station.
    The rest station is a safe place where the user can rest and refuel.
    If the user reaches the end of the trail, they win the game.
    Let explore!
  </p>
  <div class="d-flex mt-20px">
    <button class="home-container__btn-start" [routerLink]="['/map']">
        discover your path
    </button>
  </div>
</div>
